<div class="row">
  <div class="col-md-6">
    <!-- <card cardTitle="Base Tabs"> -->
      
      <tabset id="tab1">
        <h2 class="h2">Employees</h2>
        <!-- <tab-content for="tab1" tabTitle="Home" [active]="true"> -->
          <p class="p">
            Total Number Of Employees
          </p>
          <p class="p">
            <!-- {{Object.keys(employees).length}} -->
            {{employees}}
          </p>
          <!-- </tab-content> -->
      </tabset>
    <!-- </card> -->
  </div>

  <div class="col-md-6">
    <!-- <card cardTitle="Disabled Tabs"> -->
      
      <tabset id="tab2">
        <h2 class="h2">Branches</h2>
        <!-- <tab-content for="tab2" tabTitle="Home" [active]="true"> -->
          <p class="p">
            Total Number Of Branches
          </p>
          <p class="p">
            {{branches}}
          </p>
        <!-- </tab-content> -->
      </tabset>
    <!-- </card> -->
  </div>
</div>

