<div class="row">
  <div class="col-md-6">
      <tabset id="tab1">
        <h2 class="h2">Today Sale</h2>
          <p class="p">
            Total Number Of Sales Today
          </p>
          <p class="p">
            {{employees}}
          </p>
      </tabset>
  </div>

  <div class="col-md-6">
      <tabset id="tab2">
        <h2 class="h2">Total Sales</h2>
          <p class="p">
            Total Number Of Sales This Month
          </p>
          <p class="p">
            {{branches}}
          </p>
      </tabset>
  </div>

  <div class="col-md-6">
    <tabset id="tab1">
      <h2 class="h2">List of Sales</h2>
        <p class="p">
          Total List
        </p>
        <p class="p">
          {{branches}}
        </p>
    </tabset>
  </div>

  <!-- <div class="col-md-6">
    <tabset id="tab2">
      <app-todolist></app-todolist>
    </tabset>
  </div> -->
</div>

