<button class="config-switch" (click)="configToggle()">
  <i class="fa fa-tasks" *ngIf="!isConfigToggle"></i>
  <i class="fa fa-chevron-right" *ngIf="isConfigToggle"></i>
</button>
<div class="right-config-wrap" [ngClass]="{'right-config-wrap-on':isConfigToggle}">
  <ul class="config-content">
    <div>
    <li class="config-list">
      <input type ="file" name="imgUploader" class="btn btn-icon btn-info" (change)="encodeImageFileAsURL($event)" file-model = "myFile"  />  
    </li>
    <li class="config-list">
        <button class="btn btn-icon btn-primary" (click)="upload()"><span>Upload</span></button>
    </li>
  </div>
    <li class="config-list"> 
      <button class="btn btn-icon btn-danger" (click)="signOut()"><span>Sign-Out</span></button>
    </li>
  </ul>
</div>
